
/* Général */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* Conteneur global pour le jeu */
#conteneur-jeu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
  max-width: 300px;
  margin: 20px 0; /* Combine margin-top et margin-bottom */
}


/* Partie gauche : Informations (Titre, Score, Niveau) */
#panneau-infos {

  flex: 1;
  padding: 20px;
  background: linear-gradient(150deg, #f0e8f5, #b6c9e7);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 300px;
  margin-top: -200px; 
  margin-left: 30px;
  margin-right: -80px;
}


#infos {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.3, 0.7);
}
  



/* Fond gris clair pour le score et le niveau */
#score-niveau {
  background-color: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#panneau-score, #panneau-niveau {
  font-size: 18px;
  color : black;
  margin: 5px 0;
}

#panneau-score span, #panneau-niveau span {
  font-weight: bold;
  color: #FF5733;
}


/* Partie droite : Grille de jeu */
#panneau-jeu {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right : 100px
}

#tetris {
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 600px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Bouton Recommencer */
#bouton-rejouer {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #FF5733;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#bouton-rejouer:hover {
  background-color: #e74c3c;
}
